<?xml version="1.0"?>
<robot name="combined_system" xmlns:xacro="http://ros.org/xacro">

  <!-- 1. Δήλωση των Arguments που γίνονται inject από το Launch Setup -->
  <xacro:arg name="parent" default="world" />
  <xacro:arg name="xyz" default="0 0 0" />
  <xacro:arg name="rpy" default="0 0 0" />

  <xacro:arg name="sim_gazebo" default="false" />
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="namespace" default="" />
  <xacro:arg name="simulation_controllers"
    default='$(find group_a_bringup)/config/controllers.yaml' />

  <!-- 2. Include του αρχείου Macro -->
  <xacro:include filename="$(find group_a_description)/urdf/group_a_macro.xacro" />

  <!-- 3. Διορθωμένο Condition για το world link (Χρήση σκέτου $ (arg ...)) -->
  <xacro:if value="${'$(arg parent)' == 'world'}">
    <link name="world" />
  </xacro:if>

  <!-- 4. Δυναμική κλήση του Macro (Επίσης διορθωμένα τα properties) -->
  <xacro:group_a_robot
    parent="$(arg parent)"
    sim_gazebo="$(arg sim_gazebo)"
    use_fake_hardware="$(arg use_fake_hardware)"
    namespace="$(arg namespace)"
    simulation_controllers="$(arg simulation_controllers)"
  >
    <!-- Η θέση και η περιστροφή ορίζονται από το loop του workcell -->
    <origin xyz="$(arg xyz)" rpy="$(arg rpy)" />
  </xacro:group_a_robot>

</robot>