[submodule "src/isaac_ros_cumotion_fork"]
	path = src/isaac_ros_cumotion_fork
	url = https://github.com/Mike17K/isaac_ros_cumotion.git
[submodule "src/robots/motoman_ros2_support_packages"]
	path = src/robots/motoman_ros2_support_packages
	url = https://github.com/Yaskawa-Global/motoman_ros2_support_packages.git
